<!DOCTYPE html>
<html  class=" js rgba backgroundsize cssanimations cssgradients csstransforms fontface" >
  <head >
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <link href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/main.min.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/overrides.css">
    <link rel="stylesheet" href="stylesheets/nojs.css">

      <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-scroll.min.js"></script> <!--used for the scroll animation-->
    <script src="javascripts/typed.min.js"></script>      <!--used for the type animation-->
    <script src="javascripts/pushy.min.js"></script>     <!--used for sliding the menu-->
    <script src="javascripts/particles.min.js"></script>    <!--used for the particles for the front end-->
    <script src="javascripts/HomeApp.js"></script>    <!--contains angular controllers-->

    <title> Akshay U Prabhu </title>
  </head>

  <style>
      /*head{font-size: 100%}*/

    canvas {
      display: block;
      vertical-align: bottom;
    }

    .logos1 {
      max-width:20%;
      max-height:95px;
      width: auto;
      height: auto;
      padding-right: 5%;
    }

    .logos2 {
      max-width:23%;
      max-height:75px;
      width: auto;
      height: auto;
      padding-right: 5%;
    }
    .logos3{
      max-width:20%;
      max-height:50px;
      width: auto;
      height: auto;
      padding-right: 5%;
    }
    .logos4 {
      max-width:20%;
      width: auto;
      height: auto;
      padding-right: 5%;
    }
    .logos5 {
      max-width:12%;
      width: auto;
      height: auto;
    }
    .logos6 {
      max-width:16%;
      width: auto;
      height: auto;
    }

    #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;   /*this is the background colour of the particles*/
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

  </style>


  <body ng-app="myblog" ng-controller="MainCtrl" >
  <div id="particles-js"></div>

  <section class="navigation">
    <a id="navicon" class="animated fadeInLeft closed menu-btn"></a>

    <div id="" class="nav pushy pushy-left">
      <ul>
        <li>
          <a role="button" class="introduction" ng-click="gotoElement('introduction')">
            <i class="fa fa-angle-up"></i>Introduction
          </a>
        </li>

        <li>
          <a role="button" class="about" ng-click="gotoElement('about')">
            <i class="fa fa-user"></i>Who I am
          </a>
        </li>

        <li>
          <a role="button" class="interests" ng-click="gotoElement('interests')">
            <i class="fa fa-code"></i>What I do
          </a>
        </li>

        <li>
          <a role="button" class="work" ng-click="gotoElement('work')">
            <i class="fa fa-suitcase"></i>What I've done
          </a>
        </li>

        <li>
          <a role="button" class="contact" ng-click="gotoElement('contact')">
            <i class="fa fa-paper-plane"></i>Contact
          </a>
        </li>
      </ul>


    </div>
  </section>

  <div class="site-overlay"></div>

  <section id="introduction"  class="bw">
    <div class="small-nav nav">
      <ul>
        <li>
          <a class="introduction" role="button" ng-click="gotoElement('introduction')">Intro</a>
        </li>

        <li>
          <a class="about" role="button" ng-click="gotoElement('about')">About</a>
        </li>

        <li>
          <a class="interests" role="button" ng-click="gotoElement('interests')">Interests</a>
        </li>

        <li>
          <a class="work" role="button" ng-click="gotoElement('work')">Work</a>
        </li>

        <li>
          <a class="contact" role="button" ng-click="gotoElement('contact')">Contact</a>
        </li>
      </ul>
    </div>

    <div class="brand" style="font-size: x-small">

      <h1 class="animated fadeInUp">Hello, I'm Akshay </h1>
      <h2 class="animated fadeInUp">I <span class="pulse">&hearts;</span> to code.</h2>
    </div>

    <div class="chevron animated fadeInUp">
      <div role='button' ng-click="gotoElement('about')">Scroll down</>
      <!--< class="flaticon-bullet3"  ></>-->
    </div>
  </section>`



  <section id="about">
    <div class="container">
      <div class="col-md-12 center" style="font-size: 90% ">
        <img class="profile-pic" src="images/Akshay_U_Prabhu.png" width="250" height="250">

        <h1>Hi there!</h1>

        <div class="dash animated fadeIn" ></div>

        <p class="concealed visible animated fadeInUp" >
        <p>My name is Akshay. <a></a> <br>Or more formally Akshay U Prabhu.</p>
        <p class="padded">I'm an undergraduate student at <a href="http://www.nitk.ac.in/" target="_blank"> National Institute Of Technology Karnataka,Surathkal</a> pursuing my B.Tech in Information Technology.I spend most of my time coding.</p>

        <!--<p class="padded">I did my undergrad at the <a href="http://www.nitt.edu/" target="_blank"> National Institute of Technology - Trichy</a> graduating with a B.Tech degree in Metallurgical & Materials Engineering, but I spent most of my time coding.</p>-->

        <p class="padded">I participate in programming contests at <a href="http://www.codechef.com/users/kryptofreak" target="_blank">Codechef</a> and <a href="http://www.codeforces.com/profile/kryptofreak" target="_blank">Codeforces</a>
          , make small projects and open source contributions at <a href="http://www.github.com/aup8497" target="_blank">Github</a>, and hack on random stuff.
          </font>
        </p>

        </p>



  </section>




  <section id="interests">
    <div class="container">

      <h1 class="tabloid">What I do</h1>

      <div class="row">
        <div class="concealed visible animated fadeInUp">
          <div class="flaticon">
            <img src="images/dev.jpg" width="220" height="170" ></img>
          </div>

          <h3>Development</h3>

          <div class="dash"></div>
          <p class="light">
          <p> Programming Languages: C++, C, Java</p>
          <p>Scripting Languages: Python, ShellScript(BASH)</p>
          <p>Web Technologies: Javascript, Git, MongoDB, Node, Angular, CSS, HTML</p>
          <p>Others: Android App Development</p>
          <div >
            <p>
              I've worked with <font color="red"><span class="element"></span></font>
            </p>
          </div>

          <div class="dash"></div>
        </div>
      </div>

      <div class="row">
        <div class="column col-md-6 concealed visible animated fadeInUp">
          <div class="flaticon">
            <img src="images/CP.jpg" width="330" height="210" ></img>
          </div>

          <h3>Competitive Programming</h3>

          <div class="dash"></div>

          <p>
            I <span class="heart"></span> Competitive Coding and I'm passionatte about it.
            I love everything about it to its very nature.
            I am active on codeforces , codechef and hackerrank.
          </p>

          <div class="dash"></div>
        </div>

        <div class="column col-md-6 concealed visible animated fadeInUp">
          <div class="flaticon">
            <img src="images/art_and_music.jpg" width="210" height="210" ></img>
          </div>

          <h3>Art and Music</h3>

          <div class="dash"></div>

          <p>
            Besides coding, reading books and playing outdoor games, I draw realistic sketches of people(relatives and friends) in my free time
            , I'm there in the artist forum of our college .
            I play guitar as well.
          </p>

          <div class="dash"></div>
        </div>
      </div>


    </div>
  </section>


  <section id="work" style="font-size: 100%">
    <div class="container" >


      <!--Will be updated soon-->
        <h1>Projects</h1>

      <div class="left col-md-8" >
      <div  ng-repeat="p in projects" >

            <h3>{{p.title}}</h3>
            <div class="padded">
                {{p.description}}<br>
                <a href="{{p.ref}}">{{p.ref}}</a>
            </div>

            <br>
        </div>
      </div>

      <div class="right col-md-4" >
        <h2>Skills</h2>
        <div class="bars">
          <div class="bar concealed visible animated fadeInRight" ng-repeat="z in skills">
            {{z}}
          </div>
        </div>
        <h2>Tools</h2>
        <div class="bars">
          <div class="bar concealed visible animated fadeInRight" ng-repeat="x in skills">{{x}}</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </section>


  <section id="contact">
    <div class="container">
      <div class="paperplane concealed visible animated bounceInDown"><img src="images/plane.png" width="60" height="60"  ></img></div>

      <h1>Are you interested <div>?</div></h1>
      <p>Whether you have an interesting project or
        just want to say hi, feel free to shoot me a message.</p>

      <a class="contact" href="mailto:akshayupcode@gmail.com">
        Say Hi!<i class="flaticon-speech39"></i>
      </a>
    </div>
    <br><br>
    <div class="dash animated fadeIn"></div>
    <br><br>
    <div>

      <h1>Here's my resumé</h1>
      <p>
        <a class="contact" href="https://www.dropbox.com/s/n2jmbwe17r8i6q1/final%20My%20resume%20as%20on%2023rd%20Jan.pdf?dl=0">                                                             <!-- Dont forget to add your resume here-->
          Resumé<i class="fa fa-file-pdf-o" aria-hidden="true" ></i>
        </a>
      </p>
    </div>
  </section>



  <section id="footer">
    <div class="container">
      <h3>Stalk me!</h3>

      <!--cant use ng repeat as it contains different icons and classes-->

      <ul>
        <li class="linkedin">
          <a href="https://www.linkedin.com/in/akshay-u-prabhu-7b4631136">
            <i class="fa fa-linkedin"></i>
            <p>Linkedin</p>
          </a>
        </li>
        <li class="github">
          <a href="https://github.com/akshayuprabhu">
            <i class="fa fa-github"></i>
            <p>GitHub</p>
          </a>
        </li>

        <li class="twitter">
          <a href="https://twitter.com/AkshayUPrabhu1">
            <i class="fa fa-twitter"></i>
            <p>Twitter</p>
          </a>
        </li>

        <li class="facebook">
          <a href="https://www.facebook.com/akshay.uprabhu">
            <i class="fa fa-facebook"></i>
            <p>Facebook</p>
          </a>
        </li>
      </ul>

      <div class="license">
        2017  Akshay U Prabhu.
        <br/>
        Made with HTML,CSS, Bootstrap, Font Awesome and lots of &hearts;
      </div>


    </div>
  </section>

  <script src="javascripts/type.js"></script>

  <script type="text/javascript" src="javascripts/particleconfig.js"></script>



  </body>
</html>
